[Unit]
Description=GnuPG agent
Requires=gpg-agent.socket

[Service]
Type=forking
ExecStart=/usr/bin/gpg-agent --daemon --use-standard-socket
ExecReload=/usr/bin/gpgconf --reload gpg-agent

